@import "bootstrap-sprockets";
@import "bootstrap";

.panel-body{
  word-break: break-all;
}

.container{
  word-break: break-all;
}

.showlist {
  position: relative;
}
.actions-box {
  position: relative;
  height: 100%;
}

.actions {
  position: relative;

}
