<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% flash.each do |tit, msg| %>
      <div class="alert alert-<%= tit %>">
        <a href="#" class="close" data-dismiss="alert"><i class="fa fa-times-circle"></i></a>
        <%= content_tag :div, msg, :id => "flash_#{tit}" if msg.is_a?(String) %>

      </div>
    <% end %>
  </div>
</div>
